html, body { height: 100vh; width: 100vw;background:#fff; font-family: 'Arial', sans-serif; padding:0; margin:0; overflow:hidden;}

#map{position:relative;width:100vw;height:100vh;}
#frameWrap,#imageWrap{position:fixed;margin:0;padding:0;}
#frameWrap{top:0;left:0;}
#imageWrap{right:0;}
@media only screen and (orientation: portrait) {
  #frameWrap,iframe{width:100%;height:85vh;}
  #imageWrap{bottom:0;width:100%;}
  #imageWrap>div{width:24%;height:15vh;padding:10px;display:inline-block;border-right: 1px solid #ddd;text-align:center;}
  #imageWrap>div:last-child{border:none;}
  #imageWrap>div>img{max-height: 10vh;}
}
@media only screen and (orientation: landscape) {
  #frameWrap,iframe{width:85vw;height:100vh;}
  #imageWrap{bottom:0;height:100vh;}
  #imageWrap>div{width:15vw;height:25vh;padding:10px;border-bottom: 1px solid #ddd;text-align:center;}
  #imageWrap>div:last-child{border:none;}
  #imageWrap>div>img{max-width: 15vh;}
}
